.content {
  border: 1px solid #b7f3b7;
  background-color: #def6f0;
  font-size: 16px;
  padding: 0 0 0 10px;
}

.content .header {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.content .header p {
  margin: 0;
}

.content .header .request-type {
  font-size: 18px;
  height: 30px;
  width: 50px;
  background-color: #31d331;
  color: white;
  text-align: center;
  line-height: 25px;
  font-weight: 800;
}

.content .header .request-url {
  margin: 0 10px;
}

.content .request-parameter .addHeaders, .content .request-headers .addHeaders {
  margin: 10px 0;
}

.content .request-parameter p, .content .request-headers p {
  margin: 0 0 0 5px;
}
